In [2]:
import sqlite3

In [2]:
sqlite3.version

'2.6.0'

In [3]:
sqlite3.version_info

(2, 6, 0)

In [12]:
# Database 연결(생성)
# conn = sqlite3.connect('경로/이름' or ':memory:')
conn = sqlite3.connect('DBpractice')


# Cursor 생성
cur = conn.cursor()

In [14]:
type(dir)
dir(cur)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [21]:
cur.execute("select sqlite_version()");

In [16]:
cur.fetchall()

[('3.27.2',)]

In [20]:
# sql 구문이 문법에 맞는지 안 맞는지 체크. 
sqlite3.complete_statement(cur.execute("select sqlite_version()")

SyntaxError: unexpected EOF while parsing (<ipython-input-20-9f5bdd0a8d9d>, line 2)

cur.execute("create table people (name_last, age)")

who = "Yeltain"
age = 72

cur.execute("insert into people values (7, 7)", (who, age))

cur.execute("select * from people where name_last = :who and age=:age", ("who":who, "age":age))

print(cur.fetchone())

cur.executemany('SQL', params)

sql = "insert into people values (7, 7)"
curDate = [('A', 1), ('B', 2), ('C', 3)]

cur.executemany(sql, curData)

In [27]:
cur.execute("CREATE TABLE people (name_last, age)")

OperationalError: table people already exists

In [28]:
who = "Yeltsin"
age = 72
cur.execute("INSERT INTO people VALUES(?, ?)", (who, age))

In [29]:
cur.execute("""
        SELECT * FROM people WHERE name_last=:who AND age = :age
""", {"who":who, "age":age})
cur.fetchone()

('Yeltsin', 72)

In [30]:
data = [('A', 1), ('B', 2), ('C', 3)]
cur.executemany("INSERT INTO people VALUES(?, ?)", data)

In [31]:
dataDict = [{"who":"E", "age":1}, {"who":"F", "age":1}]
cur.executemany("INSERT INTO people VALUES(:who, :age)",
               dataDict)

In [32]:
cur.execute("SELECT * FROM people")
cur.fetchall()

[('Yeltsin', 72), ('A', 1), ('B', 2), ('C', 3), ('E', 1), ('F', 1)]

In [35]:
cur.executescript("""
    create table person (
    first_name text primary key,
    last_name text not null
    );
    
    insert into person values ('name','kim');
""")

In [37]:
cur.execute('select * from person')
print(cur.fetchall())

[('name', 'kim')]

In [38]:
conn.close()

In [41]:
conn

---------------------------------

In [3]:
conn = sqlite3.connect('create.db')

In [4]:
cur = conn.cursor()

In [6]:
cur.execute('''
    create table company(
    ID INT PRIMARY KEY NOT NULL,
    NAME TEXT NOT NULL,
    AGE INT NOT NULL,
    ADDRESS CHAR(50),
    SALARY REAL);
''')

print("Table created successfully")

OperationalError: table company already exists

In [9]:
cur.execute("INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY) VALUES (1, 'Paul', 32, 'California', 20000.00)");

In [10]:
data = [(2, 'Teddy', 23, 'Seoul', 20000.00)]

In [14]:
cur.executemany("INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY) VALUES (?, ?, ?, ?, ?)", data);

IntegrityError: UNIQUE constraint failed: company.ID

In [15]:
cur.executescript("""
    INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY) VALUES (3, 'John', 21, 'street', 65000.00)
""")

In [16]:
cursor = conn.execute("SELECT id, name, address, salary from company")

for row in cursor:
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("ADDRESS = ", row[2])
    print("SALARY = ", row[3], end='\n\n')
    
print("Operation done successfully")

ID =  1
NAME =  Paul
ADDRESS =  California
SALARY =  20000.0

ID =  2
NAME =  Teddy
ADDRESS =  Seoul
SALARY =  20000.0

ID =  3
NAME =  John
ADDRESS =  street
SALARY =  65000.0

Operation done successfully

In [18]:
cid = 1
cur.execute("update company set salary = 25000.00 where id = :id", {'id':cid})

In [23]:
cur.execute("create table Artist (id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE, name TEXT)")

OperationalError: table Artist already exists

In [24]:
cur.execute("create table Genre (id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE, name TEXT)")
cur.execute("create table Album (id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE, title TEXT, artist_id INTEGER)")

In [25]:
cur.execute("create table Track (id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE, title TEXT, length INTEGER, rating INTEGER, \
                count INTEGER, album_id INTEGER, genre_id INTEGER)")

In [27]:
cur.execute("insert into Artist (name) values ('Led Zeppin')")

In [28]:
cur.execute("insert into Artist (name) values ('AC/DC')")

In [30]:
cur.execute("insert into Genre (name) values ('Rock')")
cur.execute("insert into Genre (name) values ('Metal')")

In [58]:
cur.execute('''
    INSERT INTO Album (title, artist_id)
    VALUES(:Album,
        (SELECT id
        FROM artist
        WHERE name=:Artist));
''', {"Album":"Who Made Who","Artist":"Led Zeppin"})

In [60]:
conn.commit()

In [61]:
cur.execute('''
    select Album.title, Artist.name
    from Album
    join Artist on
    Album.artist_id = Artist.id;
''')

In [62]:
cur.execute('''
    select Track.title, Genre.name
    from Track
    join Genre on
    Track.genre_id = Genre.id;
''')

In [66]:
cur.execute('''
    select Track.title, Artist.name, Album.title, Genre.name
    from Track
    join Artist join Album join Genre on
    Track.album_id = Album.id
    and
    Track.genre_id = Genre.id
    and
    Album.artist_id = Artist.id;
''')

In [67]:
conn.commit